<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8"/>
    <title>A/W - Редактиране на
        Проект</title>

    <!-- Site favicon -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="http://localhost:8080/vendors/images/brandAW.png"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="http://localhost:8080/vendors/images/brandAW.png"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="http://localhost:8080/vendors/images/brandAW.png"
    />

    <!-- Mobile Specific Metas -->
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/vendors/styles/core.css"/>
    <link
            rel="stylesheet"
            type="text/css"
            href="http://localhost:8080/vendors/styles/icon-font.min.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="http://localhost:8080/src/plugins/datatables/css/dataTables.bootstrap4.min.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="http://localhost:8080/src/plugins/datatables/css/responsive.bootstrap4.min.css"
    />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/vendors/styles/style.css"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
    ></script>
    <script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-GBZ3SGGX85");




    </script>
    <!-- Google Tag Manager -->
    <script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-NXZMQSS");




    </script>
    <!-- End Google Tag Manager -->

</head>
<body class="sidebar-light">
<div class="header">
    <div class="header-left">
        <div class="menu-icon bi bi-list"></div>
    </div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a
                        class="dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                >
							<span class="user-icon">
								<img src="http://localhost:8080/account/profile/image" alt=""/>
							</span>
                    <span class="user-name" th:text="${account.username}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" th:href="@{/account/profile}"
                    ><i class="dw dw-user1"></i> Профил</a
                    >
                    <form class="dropdown-item" th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn btn-danger"
                                value="Logout"><i class="dw dw-logout"></i>Изход
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="left-side-bar">
    <div class="brand-logo">
        <a th:href="@{/}">
            <img src="http://localhost:8080/vendors/images/bannerAW.png" alt="" class="dark-logo"/>
            <img
                    src="http://localhost:8080/vendors/images/bannerAW.png"
                    alt=""
                    class="light-logo"
            />
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-people"></span>

                        <span class="mtext">Админи</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a th:href="@{/admin/list}"><span class="micon bi bi-table"></span>Списък с
                                Админи</a>
                        </li>
                        <li><a th:href="@{/admin/add}">
                            <i style="font-size: 1.5rem" class="bi bi-person-plus"></i>Добавяне на
                            Админ</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-people"></span>

                        <span class="mtext">Служители</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a th:href="@{/admin/employees/list}"><span class="micon bi bi-table"></span>Списък със
                                Служители</a>
                        </li>
                        <li><a th:href="@{/admin/employees/add}">
                            <i style="font-size: 1.5rem" class="bi bi-person-plus"></i>Добавяне на
                            Служител</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-briefcase"></span>
                        <span class="mtext">Клиенти</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a th:href="@{/admin/clients/list}">
                                <span class="micon bi bi-table"></span>Списък с Клиенти
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/clients/add}">
                                <i style="font-size: 1.5rem" class="bi bi-person-plus"></i>Добавяне на Клиент
                            </a>
                        </li>
                    </ul>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-boxes"></span>

                        <span class="mtext">Проекти</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a th:href="@{/admin/projects/list}"><span class="micon bi bi-table"></span>Списък с Проекти</a>
                        </li>
                        <li><a th:href="@{/admin/projects/add}">
                            <i style="font-size: 1.5rem" ></i>Добавяне на Проект</a>
                        </li>
                    </ul>
                </li>
                <li class="menu">
                    <a th:href="@{/admin/employees/stats}" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-bar-chart"></span
                                ><span class="mtext">Статистика</span>
                    </a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Редактиране на Проект</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    Проекти
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Редактиране
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">

                    </div>
                </div>
            </div>
            <!-- Form Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                    </div>
                </div>
                <form action="#" th:action="@{/admin/projects/update}" method="POST"
                      th:object="${project}">
                    <input type="hidden" th:field="*{id}" id="projectId" name="projectId">

                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Клиент</label>
                        <div class="col-sm-12 col-md-10">
                            <input
                                    th:field="*{client.clientName}"
                                    class="form-control"
                                    disabled
                            >
                            </input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Име на Проекта</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" th:field="*{projectName}" class="form-control" id="projectName"
                                   placeholder="Въведете Име на Проекта" minlength="2" maxlength="150" required>
                            <p th:if="${#fields.hasErrors('projectName')}" th:class="'error-message'"
                               th:errors="*{projectName}">
                                Error</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Сегашен Краен Срок</label>
                        <div class="col-sm-12 col-md-10" th:text="${projectCurrentDate}">

                        </div>
                        <label class="col-sm-12 col-md-2 col-form-label">Нов Краен Срок</label>
                        <div class="col-sm-12 col-md-10">
                            <input
                                    type="date"
                                    th:field="*{expirationDate}"
                                    id="expirationDate" name="expirationDate"
                                    class="form-control"
                                    required
                            >
                            <p th:if="${#fields.hasErrors('expirationDate')}" th:class="'error-message'"
                               th:errors="*{expirationDate}">Error</p>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Редактирай</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Default Form End -->
<!-- js -->
<script src="http://localhost:8080/vendors/scripts/core.js"></script>
<script src="http://localhost:8080/vendors/scripts/script.min.js"></script>
<script src="http://localhost:8080/vendors/scripts/process.js"></script>
<script src="http://localhost:8080/vendors/scripts/layout-settings.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript
>
    <iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
            height="0"
            width="0"
            style="display: none; visibility: hidden"
    ></iframe
    >
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
